.recipe{
    border-radius: 14px;
    box-shadow: 2px 3px 5px black;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('../images/recipeBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    min-width: 35%;
    font-family: 'fantasy', copperplate;   
    color: white;
    font-size: 1.3em;
    text-shadow: 10px 10px 20px black;
}
 
.image{
    border-radius: 20px;
    margin:0px 0px 20px 0px;
}